@page "/P_Aportes"
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@inject AportesBll aportesBll


    <div class="card">
        <div class="card-header text-center">
            <h3>Consulta de Aportes</h3>

        </div>

        <div class="card-body">
            <form>
                <div class="form-group text-center">

                    <button type="button" class="bi bi-file-earmark-person btn btn-lg btn-primary" @onclick="Buscar"> Generar Tabla </button>

                </div>
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>AportesID</th>
                    <th>Persona</th>
                    <th>Monto</th>
                    <th>Ver</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aportes in Aportes)
                {
                    <tr>
                        <td>@aportes.AportesId</td>
                        <td>@aportes.Persona</td>
                        <td>@aportes.Monto</td>
                        <th>@aportes.Fecha</th>
                        <td><a href="R_Aportes/@aportes.AportesId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


@code {

     Aportes aportes { set; get; } = new Aportes();
    List<Aportes> Aportes { get; set; } = new List<Aportes>();

    protected override void OnInitialized() {
        Aportes = aportesBll.GetList(o => true);
    
    }
    void Buscar() {
        Aportes = aportesBll.GetList(o => true);
    }

}
