@page "/"
@inject NotificationService NotificationService

<PageTitle>Index</PageTitle>

<h1>Miguel &aacute;ngel Betances Beato (2021-0496)</h1>
<h3>Programaci&oacute;n Aplicada 1 2023-03</h3>

<button @onclick="MostrarNotificaciones">Prueba</button>
@code
{
    public void MostrarNotificaciones()
    {
        var mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Ejemplo ",
                Detail = "Pruebaaaaaaaaa",
                Duration = 4000
            };
        NotificationService.Notify(mensaje);
    }
}

